@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body,h1,h2,h3,h4,h5,ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    list-style: none;
    content: '';
}